
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: 0px;
	padding: 8px 10px;
	margin: 5px 0px !important;
	border-radius: 1px;

	cursor: pointer !important;
	color: #fff !important;
	background: #7aa76d;
	font-size: 15px !important;

	outline: none;

	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
}
	button:hover {
		background: #91cd85;
	}
.PrincipalHeader{
	height:675px;
	background:#333 url(../img/bg5.jpg) repeat-x;
	background-position:center;
	background-attachment: fixed;
  	text-align:center;
  	margin-bottom: -50px;
}
	.PrincipalHeader-top{
		padding-top:17%;
		line-height:0;
		color:#FDE;
	}
		.PrincipalHeader-top .slogan{
			font-size:1.8em;
			line-height:1.2;
		}

			.PrincipalHeader-top-tittle h1{
				font-size:5em;
			}
			.PrincipalHeader-top-tittle span{
				font-size:2em;
			}

.img-modulo{
	margin:0;
	padding:0 !important;
}
.img_contenido, .img-modulo{
	/*height:100%;*/
	width:100%;
}
.container{
	width: 100% !important;
}
.mod{
	position: relative;
	float: left;
	overflow: hidden;
}
.mod:hover .info-image{
	display:block;

}
.info-image{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color:rgba(19,176,19,0.7);
	-webkit-transition: background-color 0.2s ease 0.2s;
	transition: background-color 0.2s ease 0.2s;
	color:#e7e7e7;
	overflow: hidden;
	padding: 0px 6%;
	display:none;
	z-index:10;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
}
.mod:hover .info-image{
	display:block;

}
.center-vertically{
    margin-top:40%;
    white-space: normal;
    }

.bm1{
	background-color:#1BCE7C;

}
.bm2{
	background-color:#FFE5EE;
}
.bm3{
	background-color:#3E9995;
}
.bm4{
	background-color:#EEFFED;
}
.bm5{
	background-color:#BAFFCF;
}
.bm6{
	background-color:#B4CECB	;
}
.bm7{
	background-color:#376368;
}
.bm8{
	background-color:#EEFFED;
}

.box-contacto-container{
	padding-top:25% !important;
}
.box-contacto, .box-contacto2{
	padding-top:66%;
	line-height:1.5;
	text-align: center;
}
.box-contacto3{
	line-height:1.5;
	text-align: center !important;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.box-contacto p{
	font-size:42px;
}
.box-contacto2 p, .box-contacto3 p{
	font-size:30px;
}
.box-contacto-header{
	letter-spacing:0.3em;
}

.box-line{
	font-size:17.5px;
}

.box-circle{
	border:solid 2px black;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin-left:40%;
	font-size:12px;
	text-align:center;
	padding:1.5em;
}

.circle-text {
	width:12%;
	margin-left:44%;
}

.circle-text2 {
	width:20%;
	margin-left:38%;
}


.circle-text:after, .circle-text2:after {
	content: "";
	display: block;
	width: 110%;
	height:0;
	border:solid 2px black;
	padding-bottom: 100%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}
.circle-text div , .circle-text2 div{
float:left;
width:100%;
padding-top:50%;
padding-left:10%;
line-height:1em;
margin-top:-0.5em;
text-align:center;
color:black;
font-size:0.8em;
}

.box-mod{
	height:337px;
}

.site-wrapper3 {
  background: #333 url(../img/bg2_1.jpg) repeat-x;
  background-position: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  color:black;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.contacto{
}

.contacto h5{
	text-align: center;
	color: #7AA76D;
}

.contacto-ubicacion-imagen, .contacto-telefono-imagen{
	width: 15%;
	height: 15%;
	margin-right: 5%;
	margin-top: 0 !important;
}

.contacto-ubicacion, .contacto-telefono{
	display: flex;
}

.boton-info{
	margin-left: 6% !important;
	margin-top: 3% !important;
	width: 130px;
}
.btn-app{
	margin-top: 3%;
	margin-right: 3%;
	font-size: 4em !important;
	color:#7aa76d;
}
	.btn-app:hover{
		color: #91cd85;
	}
.txt-green{
	color: #7aa76d;
}
.txt-parrafo{
	text-align: justify;
}
.txt-center{
	text-align: center;
}
.txt-center h1{
	font-size: 3em;
	font-weight: bold;
}
.txt-center p{
	font-size: 2em;
	color: #5A5A5A;
}
.txt-grande{
	font-size: 3em !important;
}
.txt-into{
	font-size: 1.7rem !important;
	color: #5A5A5A;
	font-style: oblique;
	text-align: center;
}
.capitalLetter{
	font-size: 3rem !important;
	display: inline-block;
	float:left;
	padding: 2px;
}
.line-divider{
	margin: 5rem 0px;
}
.txt-vertical-center{
	vertical-align: center !important;
	top:90%;
	margin-top: 6rem;
}
.cont-modal-show{
	position: absolute;
}
.des-modal-show{
	position: absolute;
	z-index: 10;
	font-size: 1.5em;
	border-radius: 0;
}
.img-modal-show{
	width: 90%;
	position: relative;
	text-align: center;
}
.img-modal-show2{
	height: 90%;
	position: relative;
}
.img-modal-show3{
	width: 99%;
	position: relative;
}
.img-modal-show4{
	width: 100%;
	position: relative;
	text-align: center;
	left: 10%;	
}
.modal-title{
	color: #7aa76d;
	font-weight: 800;
}
.contentPrincipal{
	margin-top: 50px;
}
.tabla-modal{
	width: 100%;
}
.modal{
    display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 40em;
    overflow-y: auto;
}

.lista {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-left: 10%;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.lista ol {
    margin: 0 0 0 2em;
}

.lista li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.lista li:hover{
    background: #eee;
}

.lista li:hover:before{
    transform: rotate(360deg);
}

.lista li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
.lista2 {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.lista2 ol {
    margin: 0 0 0 2em;
}

.lista2 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.lista2 li:hover{
    background: #eee;
}

.lista2 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.lista2 li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.lista2 li:hover:after{
    left: -.5em;
    border-left-color: #87ceeb;
}

p.cl:first-letter
{
	float:left;
	font-size:4rem;
	margin-right: 5px;
	padding: 2px;
	margin-top: 5px;
}
